In [20]:
import pandas as pd

In [22]:
# Load the datasets:-
orders = pd.read_csv(r"C:\Users\91861\Desktop\Jar\List_of_Orders_55FFC79CF8.csv")
order_details = pd.read_csv(r"C:\Users\91861\Desktop\Jar\Order_Details_19795F61CF.csv")
sales_target = pd.read_csv(r"C:\Users\91861\Desktop\Jar\Sales_target_DD2E9B96A0.csv")

In [27]:
# Viewing the dataset using Head and Tail function:-
orders.head(10),order_details.tail(10),sales_target.head(20)

(  Order ID  Order Date CustomerName              State       City
 0  B-25601  01-04-2018       Bharat            Gujarat  Ahmedabad
 1  B-25602  01-04-2018        Pearl        Maharashtra       Pune
 2  B-25603  03-04-2018        Jahan     Madhya Pradesh     Bhopal
 3  B-25604  03-04-2018       Divsha          Rajasthan     Jaipur
 4  B-25605  05-04-2018      Kasheen        West Bengal    Kolkata
 5  B-25606  06-04-2018        Hazel          Karnataka  Bangalore
 6  B-25607  06-04-2018     Sonakshi  Jammu and Kashmir    Kashmir
 7  B-25608  08-04-2018      Aarushi         Tamil Nadu    Chennai
 8  B-25609  09-04-2018       Jitesh      Uttar Pradesh    Lucknow
 9  B-25610  09-04-2018       Yogesh              Bihar      Patna,
      Order ID  Amount  Profit  Quantity     Category Sub-Category
 1490  B-26098   409.0    86.0         3     Clothing        Saree
 1491  B-26098    59.0    15.0         2     Clothing      T-shirt
 1492  B-26098    46.0    14.0         5     Clothing        Skirt
 1493  B-26099     9.0     3.0         1     Clothing        Skirt
 1494  B-26099   207.0    37.0         4     Clothing  Hankerchief
 1495  B-26099   835.0   267.0         5  Electronics       Phones
 1496  B-26099  2366.0   552.0         5     Clothing     Trousers
 1497  B-26100   828.0   230.0         2    Furniture       Chairs
 1498  B-26100    34.0    10.0         2     Clothing      T-shirt
 1499  B-26100    72.0    16.0         2     Clothing        Shirt,
    Month of Order Date   Category   Target
 0               Apr-18  Furniture  10400.0
 1               May-18  Furniture  10500.0
 2               Jun-18  Furniture  10600.0
 3               Jul-18  Furniture  10800.0
 4               Aug-18  Furniture  10900.0
 5               Sep-18  Furniture  11000.0
 6               Oct-18  Furniture  11100.0
 7               Nov-18  Furniture  11300.0
 8               Dec-18  Furniture  11400.0
 9               Jan-19  Furniture  11500.0
 10              Feb-19  Furniture  11600.0
 11              Mar-19  Furniture  11800.0
 12              Apr-18   Clothing  12000.0
 13              May-18   Clothing  12000.0
 14              Jun-18   Clothing  12000.0
 15              Jul-18   Clothing  14000.0
 16              Aug-18   Clothing  14000.0
 17              Sep-18   Clothing  14000.0
 18              Oct-18   Clothing  16000.0
 19              Nov-18   Clothing  16000.0)

In [29]:
# Merge the orders and order details datasets on 'Order ID'
merged_data = pd.merge(order_details, orders, on="Order ID")

In [31]:
merged_data.head(10)

,Order ID,Amount,Profit,Quantity,Category,Sub-Category,Order Date,CustomerName,State,City
0,B-25601,1275.0,-1148.0,7,Furniture,Bookcases,01-04-2018,Bharat,Gujarat,Ahmedabad
1,B-25601,66.0,-12.0,5,Clothing,Stole,01-04-2018,Bharat,Gujarat,Ahmedabad
2,B-25601,8.0,-2.0,3,Clothing,Hankerchief,01-04-2018,Bharat,Gujarat,Ahmedabad
3,B-25601,80.0,-56.0,4,Electronics,Electronic Games,01-04-2018,Bharat,Gujarat,Ahmedabad
4,B-25602,168.0,-111.0,2,Electronics,Phones,01-04-2018,Pearl,Maharashtra,Pune
5,B-25602,424.0,-272.0,5,Electronics,Phones,01-04-2018,Pearl,Maharashtra,Pune
6,B-25602,2617.0,1151.0,4,Electronics,Phones,01-04-2018,Pearl,Maharashtra,Pune
7,B-25602,561.0,212.0,3,Clothing,Saree,01-04-2018,Pearl,Maharashtra,Pune
8,B-25602,119.0,-5.0,8,Clothing,Saree,01-04-2018,Pearl,Maharashtra,Pune
9,B-25603,1355.0,-60.0,5,Clothing,Trousers,03-04-2018,Jahan,Madhya Pradesh,Bhopal

In [33]:
# Calculate total sales per row (Quantity × Price)
merged_data["Total Sales"] = merged_data["Quantity"] * merged_data["Amount"]

In [35]:
# Group by 'Category' and sum 'Total Sales'
category_sales = merged_data.groupby("Category")["Total Sales"].sum().reset_index()

In [37]:
print(merged_data["Total Sales"])

0        8925.0
1         330.0
2          24.0
3         320.0
4         336.0
         ...
1495     4175.0
1496    11830.0
1497     1656.0
1498       68.0
1499      144.0
Name: Total Sales, Length: 1500, dtype: float64

In [61]:
print(category_sales)

      Category  Total Sales
0     Clothing     664522.0
1  Electronics     816583.0
2    Furniture     665765.0

In [65]:
# Group by 'Category' and calculate total profit, total sales, and total orders
category = merged_data.groupby("Category").agg({
    "Profit": "sum",  # Total Profit
    "Total Sales": "sum",  # Total Sales
    "Order ID": "count"  # Total Orders (Order count per category)
}).reset_index()

In [73]:

# Rename columns
category.rename(columns={"Profit": "Total_Profit", "Total Sales": "Total_Sales", "Order ID": "Total_Orders"}, inplace=True)

In [75]:
# Convert to numeric to avoid errors
category["Total_Profit"] = pd.to_numeric(category["Total_Profit"])
category["Total_Orders"] = pd.to_numeric(category["Total_Orders"])
category["Total_Sales"] = pd.to_numeric(category["Total_Sales"])

In [79]:
# Calculate Average Profit per Order
category["Avg_Profit_per_Order"] = category["Total_Profit"] / category["Total_Orders"]

In [81]:
# Calculate Profit Margin (Profit as a percentage of Sales)
category["Profit_Margin"] = (category["Total_Profit"] / category["Total_Sales"]) * 100

In [83]:
print(category)

      Category  Total_Profit  Total_Sales  Total_Orders  \
0     Clothing       11163.0     664522.0           949
1  Electronics       10494.0     816583.0           308
2    Furniture        2298.0     665765.0           243

   Total_Profit_Margin (%)  Avg_Profit_per_Order  Profit_Margin
0                 1.679854             11.762908       1.679854
1                 1.285111             34.071429       1.285111
2                 0.345167              9.456790       0.345167

In [85]:
# Find top-performing category (highest profit)
top_category = category.sort_values(by="Total_Profit", ascending=False).head(1)

In [87]:
# Find underperforming category (lowest profit)
underperforming_category = category.sort_values(by="Total_Profit", ascending=True).head(1)

In [89]:
print("Top-Performing Category:\n", top_category)
print("\nUnderperforming Category:\n", underperforming_category)

Top-Performing Category:
    Category  Total_Profit  Total_Sales  Total_Orders  Total_Profit_Margin (%)  \
0  Clothing       11163.0     664522.0           949                 1.679854

   Avg_Profit_per_Order  Profit_Margin
0             11.762908       1.679854

Underperforming Category:
     Category  Total_Profit  Total_Sales  Total_Orders  \
2  Furniture        2298.0     665765.0           243

   Total_Profit_Margin (%)  Avg_Profit_per_Order  Profit_Margin
2                 0.345167               9.45679       0.345167

In [91]:
# Find category with highest profit margin
top_margin_category = category.sort_values(by="Profit_Margin", ascending=False).head(1)

In [93]:
# Find category with lowest profit margin
low_margin_category = category.sort_values(by="Profit_Margin", ascending=True).head(1)

In [95]:
print("\nCategory with Highest Profit Margin:\n", top_margin_category)
print("\nCategory with Lowest Profit Margin:\n", low_margin_category)

Category with Highest Profit Margin:
    Category  Total_Profit  Total_Sales  Total_Orders  Total_Profit_Margin (%)  \
0  Clothing       11163.0     664522.0           949                 1.679854

   Avg_Profit_per_Order  Profit_Margin
0             11.762908       1.679854

Category with Lowest Profit Margin:
     Category  Total_Profit  Total_Sales  Total_Orders  \
2  Furniture        2298.0     665765.0           243

   Total_Profit_Margin (%)  Avg_Profit_per_Order  Profit_Margin
2                 0.345167               9.45679       0.345167

In [ ]:
#Why Do Some Categories Perform Well?

#The best-selling categories usually have things people need or want. If a product is in high demand, sales naturally go up. 
#Another big factor is profit margin—some products bring in more profit per sale, making them more valuable. 
#Competitive pricing also plays a role. 
#If a product is priced fairly, more people are willing to buy it. 
#Good marketing helps too! When a product is advertised well, customers notice it and are more likely to purchase it. 
#Finally, keeping production costs low without sacrificing quality helps maximize profits.

#Why Do Some Categories Struggle?

#On the other hand, some products just don’t sell as much. 
#Maybe people don’t need them often, or they have a lot of alternatives to choose from. 
#If a product has a low-profit margin, even if it sells, it might not bring in much money. 
#Some categories face a lot of competition, making it harder to stand out. 
#Seasonal trends can also be a factor—certain things only sell well at certain times of the year.
#If production or supply costs are too high, it can eat into profits.

#How Can We Improve Underperforming Categories?

#If a category isn’t doing well, there are a few ways to fix it. 
#Discounts and special offers can attract more buyers. 
#Better marketing can help get the word out and create interest. 
#Reducing production costs, like finding cheaper suppliers, can make a big difference. 
#Adjusting the price to make it more appealing while still being profitable can also help turn things around.

In [18]:
# Entering the data and target manually
data = {
    "Month of Order Date": [
        "01-04-2018", "01-05-2018", "01-06-2018", "01-07-2018", "01-08-2018", 
        "01-09-2018", "01-10-2018", "01-11-2018", "01-12-2018", "01-01-2019", 
        "01-02-2019", "01-03-2019"
    ],
    "Target": [
        10400, 10500, 10600, 10800, 10900, 11000, 11100, 11300, 
        11400, 11500, 11600, 11800
    ]
}

# Convert to DataFrame
df = pd.DataFrame(data)

# Convert 'Month of Order Date' to DateTime format
df["Month of Order Date"] = pd.to_datetime(df["Month of Order Date"], format="%d-%m-%Y")

# Sort by date
df = df.sort_values("Month of Order Date")

# Calculate the percentage change
df["Percentage Change"] = df["Target"].pct_change() * 100

# Display results
df

   Month of Order Date  Target  Percentage Change
0           2018-04-01   10400                NaN
1           2018-05-01   10500           0.961538
2           2018-06-01   10600           0.952381
3           2018-07-01   10800           1.886792
4           2018-08-01   10900           0.925926
5           2018-09-01   11000           0.917431
6           2018-10-01   11100           0.909091
7           2018-11-01   11300           1.801802
8           2018-12-01   11400           0.884956
9           2019-01-01   11500           0.877193
10          2019-02-01   11600           0.869565
11          2019-03-01   11800           1.724138

In [12]:
#Major ups and downs in goals

#Furniture: With the noticeable jump in November 2018 (+1.8%) and March 2019 (+1.72%), the target increased month after month.
#This suggests either a strategic push for more sales or an increase in expected demand.
#Clothes: The targets were stable at ₹ 12,000 till July 2018, when they suddenly jumped to ₹ 14,000, and then up to ₹ 16,000 in October 2018. 
#This indicates seasonal demand, possibly due to festivals or new product launches.
#Electronics: The most amazing trend was in January 2019, when the target jumped from ₹ 9,000 to ₹ 16,000 - almost double. 
#This may be associated with a new product launch, a sales push, or the demand for the year-end holiday.

#How to Align Targets with Reality

# Furniture: Instead of surprising jumps, a smoother increase over time would help control inventory and sales expectancies better. 
#Tools like a call for forecasting can offer more accurate boom predictions.
#Clothing: Since the biggest jumps appear around mid-year and past due year, groups must put together earlier—inventory up stock, 
#launch promotions in advance, and ensure supply chains can cope with the expanded demand.
#Electronics: The big goal boom in Jan 2019 wishes deeper research. If this turned into due to a one-time occasion (like a product launch), 
#destiny objectives must reflect that. If the aim is to sustain ₹16k+ sales, increasing into new markets or online structures could assist.

#Conclusion:

#Setting sensible goals is vital for retaining teams and making sure of sustainable commercial enterprise growth. 
#Instead of sharp, sudden increases, slow changes based on actual calls for developments will make it simpler to hit objectives even as maintaining 
#performance.

In [28]:
# Counting the top 5
top_states = orders["State"].value_counts().head(5).index

# Filter orders for these top states
filtered_ord = orders[orders["State"].isin(top_states)]

# Merge with order details to get sales and profit data
state_sales = pd.merge(filtered_ord, order_details, on="Order ID")

# Aggregate total sales and average profit by state
state_performance = state_sales.groupby("State").agg(
    Total_Sales=("Amount", "sum"),
    Average_Profit=("Profit", "mean"),
    Order_Count=("Order ID", "count")
).reset_index()

# Sort by Order Count to ensure highest first
state_performance = state_performance.sort_values(by="Order_Count", ascending=False)

# Display results
state_performance

            State  Total_Sales  Average_Profit  Order_Count
1  Madhya Pradesh     105140.0       16.326471          340
2     Maharashtra      95348.0       21.296552          290
0         Gujarat      21058.0        5.344828           87
4       Rajasthan      21149.0       16.986486           74
3          Punjab      16786.0      -10.150000           60

In [33]:
#Madhya Pradesh & Maharashtra (Top Performers)

#These states have the best income and order volumes, making them robust sales drivers.
#They also show healthy income margins (₹sixteen.33 & ₹21.30 consistent with order), which means they may be effectively converting sales into earnings.
#What to do? 
#Keep up the momentum by way of retaining robust calls for and customer engagement.

#Gujarat & Rajasthan (Moderate overall performance)

#Sales are decent, but profitability is much lower, particularly in Gujarat (₹5.34 per order).
#This may mean excessive working costs, too many discounts, or pricing troubles.
#What to do? 
#Adjust pricing techniques and attention to higher-margin merchandise.

#Punjab (Critical Issue)

#Punjab is the only country displaying terrible earnings (-₹10.15 in keeping with order).
#This shows that both fees are too excessive, or merchandise is being offered at too low a charge.
#What to do? 
#Immediate movement is wanted—reduce fees, evaluate pricing, and raise calls through higher advertising.

#What Should Be Prioritized?

#1. Fix Punjab First – It’s losing money on every order. Costs and pricing need urgent interest.
#2. Improve Gujarat & Rajasthan – Sales are there, but profits need a push.
#3. Keep Madhya Pradesh & Maharashtra Growing – These are the strongholds; maintaining momentum is prime.